.card-title {
    text-align: center;
    font-family: barriecito !important;
    text-shadow: 4px 4px 4px #c98d0c
}

.body {
  background-image: url("https://media.istockphoto.com/id/840276320/vector/vector-pattern.jpg?s=612x612&w=0&k=20&c=xt2tL1oYiKRskfwqfv6Y3IrbGcvU83e-fVMGM8sJvYA=");
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

/* page2 specific */
/* code for photo grid */
.rows {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
/*  */


